{% extends 'base.html' %}
{% block title %}User List{% endblock %}
{% block content %}
<h4>User List</h4>

<form method="GET" class="mb-3">
    <input type="text" name="search" value="{{ search }}" placeholder="Search username" class="form-control d-inline" style="width:250px;">
    <button class="btn btn-primary">Search</button>
</form>

<table class="table table-bordered table-striped mt-3">
    <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Role</th>
            <th>State</th>
            <th>District</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.state }}</td>
            <td>{{ user.district }}</td>
            <td>
                {% if user.is_active %}
                    <span class="badge bg-success">Active</span>
                {% else %}
                    <span class="badge bg-danger">Inactive</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'edit_profile' user.id %}" class="btn btn-sm btn-warning">Edit</a>
                {% if request.user.get_role_name == 'STATE_ADMIN' %}
                <form method="POST" action="{% url 'toggle_active' user.id %}" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm {% if user.is_active %}btn-danger{% else %}btn-success{% endif %}">
                        {% if user.is_active %}Deactivate{% else %}Activate{% endif %}
                    </button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="text-center">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}